* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  background: linear-gradient(rgb(19, 74, 216), rgb(105, 144, 244));
  color: white;
}
.tan,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature {
  flex-direction: column;
}
.degree-section {
  display: flex;
}
.typeOfTemperature {
  margin: 5px;
  font-size: 20px;
}
.temperature-degree {
  cursor: pointer;
  padding: 5px;
}
